@use "base" as *;
$colors: $base-color-container-1, $base-color-container-2, $base-color-container-3;

@for $j from 1 through 3 {
  .container-#{$j} {
    $color: nth($colors, $j);
    @extend .container;

    .base-color {
      background-color: $color;
      color: white;
    }
    
    .font {
      color: grey;
      font-weight: bold;
    }

    .box {
      @extend .box-style;
      border: 2px solid $color;
    }
   
      @for $i from 1 through 4 {
        .darken-#{$i} {
          @extend .font;
          background-color: darken($color, 10% * $i);
          border: 2px solid darken($color, 10% * $i);
        }
        .lighten-#{$i} {
          @extend .font;
          background-color: lighten($color, 10% * $i);
          border: 2px solid lighten($color, 10% * $i);
        }
      }
    
  }
}


