@use "styles" as *;

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    flex-direction: column;
}

.box {
    padding: 35px;
    display: flex;
    align-items: center;
    width: 6vw;
    height: 4vh; 
    border: 1px solid gray;
    border-radius: 1px;
    font-weight: bold;
    border-radius: $borderRadius;
}

.box-with-shadow {
    @extend .box;
    margin-top: 15px;
    box-shadow: $boxShadow;
}

.principal-font { 
    padding-top: 15px;
    font-family: $principalFontFamily;
}

.secondary-font {
    padding-top: 15px;
    font-family: $secondaryFontFamily;
}

.base {
    @extend .box;
    background-color: $baseBackground;
}

.important {
    @extend .box;
    background-color: $importantBackground;
}

.warning {
    @extend .box;
    background-color: $warningBackground;
}