$baseBackground: red;
$importantBackground: brown;
$warningBackground: pink;
$principalFontFamily: Arial, Helvetica, sans-serif;
$secondaryFontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$boxShadow: -20px 15px 10px -10px black;
$borderRadius: 1px;
